<div class="container">
  <div class="row">
    <!--<app-iric></app-iric>-->
    <app-suma></app-suma>
    <hr>
    <app-operas-bas></app-operas-bas>
  </div>
</div>

<!-- <div>
  <h1>Hola Mundo!!!</h1>
  <p>{{grupo}}</p> //Interpolación de llaves de valores dinamicos porque puede cambiar incluso en tiempo real
</div>

<hr>
<div>
  <b>Matricula: </b>{{alumno1.matricula}}
</div>
<div>
  <b>Nombre: </b>{{alumno1.nombre | uppercase}} 
</div>
<div>
  <b>Fecha de Nacimiento: </b>{{alumno1.fechaNacimiento | date: "dd-mm-YY"}}
</div>
<div>
  <b>Pago: </b>{{alumno1.pago | currency}}
</div>
<hr>
<app-grupo></app-grupo> se inserta el componente
<hr>
<app-ievn></app-ievn>
<hr> -->
